## Project related files

# Config file
config.py
# Log file
*.log

## Building files

# Virtual environment files
__pycache__/
env/
dist/
build/
eggs/
*.egg-info/
.installed.cfg

## IDE files
.idea

